.dashboard-wrapper {
	padding-left: 300px;
}

.container {
   height: auto;
   overflow: hidden;
}

.dashboard-left {
    width: 625px;
    float: left;
    margin-left: 25px;
    padding-left: 25px;
    background: gray;
}

.dashboard-right {
    width: 425px;
    float: right;
    margin-right: 25px;
    padding-right: 25px;
    background: blue;
}