/* Page */

.pageContainer {
    display: table;
    height: 100%;
    margin: 0 auto;
}

/* Login */

.loginContainer {
    height: 750px;
    display: table-cell;
    vertical-align: middle;
}

#loginForm {
    width: 600px;
}

/* -------------- */

.dashboard-wrapper {
	padding-left: 300px;
}

.container {
   height: auto;
   overflow: hidden;
}

.dashboard-whole {
    width: 1080px;
    float: center;
    border-radius: 15px;
    margin-left: 25px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 215px;
    background: LightCyan;
}

.dashboard-left {
    width: 625px;
    float: left;
    border-radius: 15px;
    
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 400px;
    background: LightCyan;
}

.dashboard-right {
    width: 425px;
    float: right;
    border-radius: 15px;
    margin-right: 25px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 400px;
    background: LightCyan;
}

.dashboard-left-small {
    width: 625px;
    float: left;
    border-radius: 15px;
    
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 220px;
    background: LightCyan;
}

.dashboard-right-small {
    width: 425px;
    float: right;
    border-radius: 15px;
    margin-right: 25px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 220px;
    background: LightCyan;
}

.main-content-wrapper {
    margin-left: 15%;
    margin-right: 15%;
}

.navbar.navbar-default {
  border-bottom: none;
}

/* ACTIVITY PAGE */

.activity-top {
    text-align: center;
    align-content: center;
}

.activity-bottom {
    width: 100%;
}

.activity-items {
    width: 900px;
}

.activity-items-left {
    float:left;
    width:70%;
    display: inline;
}

.activity-items-right {
    float:right;
    width:25%;
    display: inline;
}

.item-space {
    margin-bottom: 15px;
}

/* PROFILE PAGE */

.tab-content {
    margin-top: 25px;
    margin-bottom: 25px;
}

.first-name-input {
    width: 250px;
}

.middle-name-input {
    width: 210px;
}

.last-name-input {
    width: 200px;
}